body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 150px;
}
h3 {
    color: #ed6334;
}
#delete {
    cursor: pointer;
}
legend {
    background-color: #ed6334;
    color: #fff;
    padding: 1px 1px;
    max-width: 400px;
}
.legend {
    padding-left: 15px;
}
.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
#gchome {
    color: #ed6334;
}
#checkout {
    margin-left: 20px;
}
#viewcart {
    margin-left: 20px;
}
#buyproduct {
    margin-left: 20px;
}
#goback {
    margin-left: 20px;
}
#counter {
    float: right;
    margin-top: 10px;
    margin-right: 2px;
}
#cartlogo {
    float: right;
    margin-top: 10px;
    margin-right: 0px;
}
a {
    cursor: pointer;
}

