@model CoffeeShopWebApp.Models.RegisterListViewModel

@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Hello @Html.DisplayFor(firstName => Model.FirstName) @Html.DisplayFor(lastName => Model.LastName)!</h4>

@Html.ActionLink("Add Another?", "Register", "Home")